.content-friends {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  margin-top: 15px;
  background: rgb(var(--white-color));
  border-radius: 3px;
  border: 1px solid rgba(var(--black-color), .2);
  width: 100%;
  padding: 10px;
}

