<div class="content-loading" *ngIf="loading" >
    <div class="loading"></div>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit(loginForm);" class="form-body-fields" *ngIf="loading === false">
      <div class="form-group">
        <input type="password" name="password1" required class="input" placeholder="Ingrese su nueva contraseña" autocomplete="off" formControlName="password1" [ngClass]="{ 'is-invalid': submitted && f.password1.errors }">
        <div *ngIf="submitted && f.password1.errors" class="invalid-feedback">
            <div *ngIf="f.password1.errors.required">Password is required</div>
            <div *ngIf="f.password1.errors.minlength">Password min length 6</div>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="password2" required class="input" placeholder="Confirmacion su nueva contraseña" autocomplete="off" formControlName="password2" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }">
        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
            <div *ngIf="f.password2.errors.required">Confirm Password is required</div>
        </div>
        <div *ngIf="submitted && registerForm.errors && !f.password2.errors" class="invalid-feedback">
            <div *ngIf="registerForm.errors.notSame">No es igual</div>
        </div>
      </div>
    <input type="submit" class="btn btn-signup" value="Confirmar">
  </form>
  <ng-snotify></ng-snotify>

