.form-body-logo {
  font-size: 8em;
  text-align: center;
  font-weight: 700;
  margin: .1em 0;
}



.input {
  width: 70%;
  padding: .5em 1em;
  outline: none;
  border: none;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgb(var(--primary-color));
  text-align: center;
}

.form-body-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: .3em 1em;
}

.btn-signup {
  background: rgb(var(--primary-color));
  color: #fff;
  border-radius: 5px;
  padding: .8em 1.5em;
}

.btn-signup:disabled {
  background: #c2c2c2;
  cursor: no-drop;
}
